<ion-header>
  <ion-toolbar>
    <ion-title>
      Habib Dev.
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Toggle Dark Theme
    </ion-label>
    <ion-toggle (ionChange)="changed($event)" slot="end"></ion-toggle>
  </ion-item>

  <ion-card mode="ios">
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
